---
layout: default
title: Home
---
<h1>{{ site.title }}</h1>
<p>{{ site.tagline }}.</p>
<p>{{ site.description }}.</p>
<h2>Articles</h2>
{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
<h3>{{ year.name }}</h3>
<ul>
{% for post in year.items %}
<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> <small>({{ post.date | date: "%b %-d" }})</small>{% if post.description %}<br>{{ post.description }}{% endif %}</li>
{% endfor %}
</ul>
{% endfor %}
